.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --page-bg: #eee7be;
  --primary: #173f5f;
  --button-bg: #20639b;
  --error: #ed553b;
  --secondary: #3caea3;
  --dark-text: #444;
  --light-text: #fff;
}

body {
  background: var(--page-bg);
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

header {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

header a.btn {
  width: 9rem;
}

nav {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn, .nextBtn {
  background: var(--button-bg);
  color: var(--light-text);
  padding: 0.5rem 1.5rem;
  margin-left:0.5rem;
  font-size: 1rem;
  transition: all 0.4s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:first-child {
  margin-left: 0;
}

.btn > svg:first-child {
  margin-right: 0.4rem;
}

.btn > svg:last-child {
  margin-left: 0.4rem;
}

.items-list-nav {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
}

.items-list-nav > li {
  margin: 0 0 1rem;
  padding: 0;
}

.items-list-nav .btn, .nextBtn {
  background: var(--light-text);
  color: var(--dark-text);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.items-list-nav .btn {
  width: 300px;
}

.btn, .nextBtn, .items-list-nav > select {
  border: none;
  border-radius: 1.5rem;
  margin-top: 10px;
}

.items-list-nav > select {
  margin-bottom: 10px;
}

.items-list-nav .nextBtn {
  width: 50%;
}

.items-list-nav .selected .btn, .items-list-nav .nextBtn {
  background: var(--dark-text);
  color: var(--light-text);
}

.container { 
  display: flex;
  justify-content: space-evenly;
  flex: 1 2 auto;
  align-items: baseline;
  width: auto;
}

.container > * {
  margin-left: 80px;
}
.bookable-details-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.bookable-details {
  display: flex;
  justify-content: space-between;
  background: black;
  align-items: baseline;
  color: var(--light-text);
  margin-top: 20px;
}
.bookable-details-section > * {
 width: 90%;
}

.bookable-details > * {
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
